.has-black-color { color: #000000; }
.has-black-background-color { background-color: #000000; } 
.has-white-color { color: #FFFFFF; }
.has-white-background-color { background-color: #FFFFFF; }
.has-grey-color { color: #777777; }
.has-grey-background-color { background-color: #777777; }
.has-red-color { color: #E20000; }
.has-red-background-color { background-color: #E20000; }
